@charset "utf-8";

.blank-div{
    width : 100%;
    height : 50px
}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0
}
.hr-line-solid {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px
}
.hr-line-dashed {
    margin: 15px 0
}
.title-link {
    color: rgb(32, 28, 28);
    text-decoration: none
}
.title-link:active, .title-link:focus, .title-link:hover {
    color: rgb(94, 85, 85);
    text-decoration: underline
}
.tag {
    margin: .2em
}
.simple_tag {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    color: inherit;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
    display: inline-block
}
.prev-next {
    margin: .5em
}
.copyright_div {
    margin: 0 2em
}
ul.copyright {
    margin: 2em 0 0;
    padding: .5em 1em;
    border-left: 3px solid #ed5565;
    background-color: #f9f9f9;
    list-style: none
    li {
        line-height: 2;
        font-size: 14px
    }
}
.search-form {
    margin-top: 10px
}
.search-result h3 {

}
.search-result {
    color: #006621
    h3 {
        margin-bottom: 0;
        color: #1E0FBE
    }
    p {
        font-size: 12px;
        margin-top: 5px
    }
}
.search-link{
    color: #006621
}
.reply-post {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 20px;
    margin-left: 30px;
    border-left: 1px dashed #e5e5e5
}
